* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #4B5D68;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__btn::after, .features-card__link::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 14px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-image: url("../assets/img/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.features-card {
  min-width: 570px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 62px 0;
  margin-bottom: 50px;
  position: relative;
}
.features-card__text {
  max-width: 230px;
}
.features-card__title {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
  margin-bottom: 20px;
}
.features-card__info {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
  min-height: 180px;
  margin-bottom: 20px;
}
.features-card__link {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0;
  color: #212353;
  position: relative;
}
.features-card__link::after {
  right: -40px;
}

.bg-1 {
  background: url(../assets/img/features-bg/bg-1.png) top right/auto 100% no-repeat;
  z-index: -2;
}
.bg-1::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: -1;
  background-image: url("../assets/img/features-bg/bg-image-1.svg");
  top: 20px;
  right: 50px;
  width: 195px;
  height: 140px;
  transform: rotate(180deg);
}
.bg-1::before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: -1;
  background-image: url("../assets/img/features-bg/bg-image-2.svg");
  top: 62px;
  right: 135px;
  width: 34px;
  height: 20px;
  transform: rotate(0deg);
}

.bg-2 {
  background: url(../assets/img/features-bg/bg-2.png) top right/auto 100% no-repeat;
  z-index: -2;
}
.bg-2::after {
  content: "";
  background-image: url("../assets/img/features-bg/bg-image-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: -1;
  width: 211px;
  height: 151px;
}

.bg-3 {
  background: url(../assets/img/features-bg/bg-3.png) top right/auto 100% no-repeat;
  z-index: -2;
}
.bg-3::before {
  content: "";
  background-image: url("../assets/img/features-bg/bg-image-2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: -1;
  width: 65px;
  height: 51px;
  transform: rotate(130deg);
}

.bg-4 {
  background: url(../assets/img/features-bg/bg-4.png) top right/auto 100% no-repeat;
  z-index: -2;
}
.bg-4::after {
  content: "";
  background-image: url("../assets/img/features-bg/bg-image-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 25px;
  right: 65px;
  transform: rotate(300deg);
  z-index: -1;
  width: 350px;
  height: 218px;
}
.bg-4::before {
  content: "";
  background-image: url("../assets/img/features-bg/bg-image-2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: -1;
  width: 82px;
  height: 46px;
}

.btn {
  width: 210px;
  height: 60px;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
}

.section__title {
  font-family: "Work Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  padding: 20px 0;
  margin-bottom: 100px;
}
.header .nav {
  flex: 1 1 auto;
}
.header .nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.header .nav .menu__link {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
  color: inherit;
}
.header .nav .menu__link:hover {
  color: #8A40EE;
}
.header__btn {
  background-color: #fff;
  border: solid 1px #9C69E2;
  color: #212353;
  position: relative;
  padding-right: 40px;
}
.header__btn:hover {
  background-color: #9C69E2;
  color: #fff;
}
.header__btn:hover::after {
  background-image: url("../assets/img/arrow-white.svg");
}

.hero {
  margin-bottom: 100px;
  padding-bottom: 35px;
  background: url("../assets/img/webp/hero.webp") 100% 100%/65.8% auto no-repeat;
}
.hero h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0;
  color: #212353;
  max-width: 51%;
  margin-bottom: 50px;
}
.hero__text {
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
  max-width: 32%;
  margin-bottom: 50px;
}
.hero__btn {
  background-color: #9C69E2;
  color: #fff;
}
.hero__btn:hover {
  background-color: #8A40EE;
}

.about {
  margin-bottom: 120px;
  border-radius: 50px;
  background-color: #FDE8F5;
  padding: 75px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.about__text {
  max-width: 500px;
}
.about h2 {
  margin-bottom: 40px;
}
.about__desc {
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
}

.features h2 {
  margin-bottom: 50px;
  text-align: center;
}
.features .section__subtitle {
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
  text-align: center;
  max-width: 638px;
  margin: 0 auto 80px auto;
}