@use 'variables' as v; 

html, body{
    font-family: v.$main-font-family;
    font-size: v.$main-font-size;
    color: v.$main-color;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

// .flex-container{
//     @include v.d-flex(row, space-between, center, 0)
// }