@mixin d-flex($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin font($family, $size, $weight, $l-height, $let-space) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $l-height;
    letter-spacing: $let-space;
}

@mixin features-bg($url, $top, $right, $width, $height, $deg) {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    background-image: url($url);
    top: $top;
    right: $right;
    width: $width;
    height: $height;
    transform: rotate($deg);
}