$main-font-family: "Montserrat", sans-serif;
$font-family-work-sans: "Work Sans", sans-serif;

$main-font-size: 16px;
$main-bg-color: #fff;

// -----text color-------

$main-color: #4B5D68;
$dark-color: #212353;

$link-hover-color: #8A40EE;

//--------bg-colors---------------

$pink: #FDE8F5;

// -------button bg-color---------

$btn-1-hover-bg-color: #8A40EE;
$btn-1-bg-color: #9C69E2;
$btn-2-hover-bg-color: #EB4BAB;
$btn-2-bg-color: #F063B8;

//----------Testimonials----------

$violet-color: #9C69E2;
$testimonials-bg-color: #CCDDFF;

//---------icons--------------

$icons-bg-color: #212353;
$icons-color: #FFFFFF;
$icons-hover-color: #00ACEE;