$main-font-family: "Montserrat", sans-serif;
$font-family-work-sans: "Work Sans", sans-serif;

$main-font-size: 16px;

$main-color: #4B5D68;
$dark-color: #212353;
$btn-1-hover-color: #8A40EE;
$btn-1-color: #9C69E2;
$btn-2-hover-color: #EB4BAB;
$btn-2-color: #F063B8;
